.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter_title {
  font-size: 14px;
  font-weight: bold;
}

.filter_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.filter_button {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  width: 100%;
  display: block;
  border-radius: 8px;
  font-size: 10px;
  padding: 8px;
}
